(lecture02:homework02)=
# Homework 2

+ Type your name and email in the "Student details" section below.
+ Develop the code and generate the figures you need to solve the problems using this notebook.
+ For the answers that require a mathematical proof or derivation you can either:
    
    - Type the answer using the built-in latex capabilities. In this case, simply export the notebook as a pdf and upload it on gradescope; or
    - You can print the notebook (after you are done with all the code), write your answers by hand, scan, turn your response to a single pdf, and upload on gradescope.

+ The total homework points are 100. Please note that the problems are not weighed equally.

```{note}
+ This is due before the beginning of the next lecture.
+ Please match all the pages corresponding to each of the questions when you submit on gradescope.
```

## Student details

+ **First Name:** Timothy
+ **Last Name:** Lee
+ **Email:** lee5695@purdue.edu

## Problem 1 - Lists

Consider the following list:

In [19]:
data = [1, 4, 3, 10, 4, 3, 4, 4]

Add the element 6 at the end of `data`:

In [20]:
data.append(6)
print(data)

[1, 4, 3, 10, 4, 3, 4, 4, 6]

Add the list [0, -1, 3] at the begining of `data`

In [21]:
data = [0, -1, 3] + data
print(data)

[0, -1, 3, 1, 4, 3, 10, 4, 3, 4, 4, 6]

How many elements are in the `data`?

In [22]:
print(f'{len(data)} elements')

# 12 elements

12 elements

Extract all `data` elements from the second to the second to last (inclusive).

In [23]:
extracted = data[1:-1]
print(extracted)

[-1, 3, 1, 4, 3, 10, 4, 3, 4, 4]

Extract all `data` elements from the second to the second to last (inclusive) skipping every other element.

In [24]:
extracted2 = data[1:-1:2]
print(extracted2)

[-1, 1, 3, 4, 4]

Sort the list.

In [25]:
data.sort()
print(data)

[-1, 0, 1, 3, 3, 3, 4, 4, 4, 4, 6, 10]

Find the minimum of the list.

In [26]:
minimum = min(data)
print(minimum)

# the minimum is -1

-1

Find the average of the elements in the list.

In [27]:
avg = sum(data) / len(data)
print(avg)

# the average is 3.4166666666666665

3.4166666666666665

## Problem 2 - Numerical Python

Let's make a random array:

In [28]:
import numpy as np
np.random.seed(12345) # We need this so that we get the same numbers
                      # every time we run the following code
x = np.random.randn(100)
x

array([-2.04707659e-01,  4.78943338e-01, -5.19438715e-01, -5.55730304e-01,
        1.96578057e+00,  1.39340583e+00,  9.29078767e-02,  2.81746153e-01,
        7.69022568e-01,  1.24643474e+00,  1.00718936e+00, -1.29622111e+00,
        2.74991633e-01,  2.28912879e-01,  1.35291684e+00,  8.86429341e-01,
       -2.00163731e+00, -3.71842537e-01,  1.66902531e+00, -4.38569736e-01,
       -5.39741446e-01,  4.76985010e-01,  3.24894392e+00, -1.02122752e+00,
       -5.77087303e-01,  1.24121276e-01,  3.02613562e-01,  5.23772068e-01,
        9.40277775e-04,  1.34380979e+00, -7.13543985e-01, -8.31153539e-01,
       -2.37023165e+00, -1.86076079e+00, -8.60757398e-01,  5.60145293e-01,
       -1.26593449e+00,  1.19827125e-01, -1.06351245e+00,  3.32882716e-01,
       -2.35941881e+00, -1.99542955e-01, -1.54199553e+00, -9.70735912e-01,
       -1.30703025e+00,  2.86349747e-01,  3.77984111e-01, -7.53886535e-01,
        3.31285650e-01,  1.34974221e+00,  6.98766888e-02,  2.46674110e-01,
       -1.18616011e-02,  1.00481159e+00,  1.32719461e+00, -9.19261558e-01,
       -1.54910644e+00,  2.21845987e-02,  7.58363145e-01, -6.60524328e-01,
        8.62580083e-01, -1.00319021e-02,  5.00093559e-02,  6.70215594e-01,
        8.52965032e-01, -9.55868852e-01, -2.34933207e-02, -2.30423388e+00,
       -6.52468841e-01, -1.21830198e+00, -1.33260971e+00,  1.07462269e+00,
        7.23641505e-01,  6.90001853e-01,  1.00154344e+00, -5.03087391e-01,
       -6.22274225e-01, -9.21168608e-01, -7.26213493e-01,  2.22895546e-01,
        5.13161009e-02, -1.15771947e+00,  8.16706936e-01,  4.33609606e-01,
        1.01073695e+00,  1.82487521e+00, -9.97518248e-01,  8.50591099e-01,
       -1.31577601e-01,  9.12414152e-01,  1.88210680e-01,  2.16946144e+00,
       -1.14928205e-01,  2.00369736e+00,  2.96101523e-02,  7.95253156e-01,
        1.18109754e-01, -7.48531548e-01,  5.84969738e-01,  1.52676573e-01])

Find the minimum of ``x``.

In [29]:
xminimum = np.min(x)
print(xminimum)

# the minimum is -2.3702316539567447

-2.3702316539567447

Find the maximum of ``x``.

Find the maximum of ``x``.

In [30]:
xmaximum = np.max(x)
print(xmaximum)

# the maximum is 3.248943919430755

3.248943919430755

Use ``x.shape`` to get the number of elements of ``x`` as an integer.

In [31]:
elements = x.shape[0]
print(elements)

# there are 100 elements

100

Find the sum of all the elements of ``x`` divided by the number of elements of ``x``. This is the average.

In [32]:
xaverage = np.sum(x) / elements
print(xaverage)

# the average is 0.033614388208863935

0.033614388208863935

Compare the average you found above with the result of ``x.mean()``. Are they the same?

In [33]:
xmean = x.mean()
print(xmean)

if xaverage == xmean:
  print('yes')
else:
  print('no')

# yes they are the same

0.033614388208863935
yes

Square the elements of ``x`` and store them in a new array called ``x2``.

In [34]:
x2 = x**2

Find the average of ``x2`` and subtract from it the square of average of ``x``.

In [35]:
x2average = x2.mean()
answer = x2average - xaverage**2
print(answer)

# the difference is 1.0714002155166888

1.0714002155166888

Compare the result you found on the cell above with ``x.var()``. Are they the same? (Remark: You just calculated the empirical variance of the "data" ``x`` in two different ways!)

In [36]:
variance = x.var()
print(variance)

if answer == variance:
  print('yes')
else:
  print('no')

# yes they are the same

1.0714002155166888
yes